        *
		{
			margin: 0;
			padding: 0;
			background-color: #fafafa;
		}
		button {
			padding: 0;
			border: none;
			font: inherit;
			color: inherit;
			background-color: transparent;
			/* show a hand cursor on hover; some argue that we
			should keep the default arrow cursor for buttons */
			cursor: pointer;
		  }
		.landing
		{
			display: grid;
			height: 95%;
			margin: 0.5%;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto 30% 1fr auto;
			grid-template-areas: 
			"header header"
			"sidebar sidebar"
			"content content"
			"footer footer";
			grid-gap: 1vmax;
		}
		.header
		{
			grid-area: header;
			background-color: #3c2d58;
			grid-gap: 10px;
			border-radius: 10px;
		}
		.sidebar
		{
			grid-area: sidebar;
			background-color: #3c2d58;
			border-radius: 10px;
			text-align: center;
		}
		.content
		{
			grid-area: content;
			align-content: center;
			background-color: #3c2d58;
			border-radius: 10px;
		}
		.footer
		{
			grid-area: footer;
			text-align: center;
			background-color: #3c2d58;
			border-radius: 10px;
        }
        .notification
        {
            height: 70px;
            width: 70px;
            margin-top: 0.75%;
            margin-right: -96%;
            grid-area: notification;
        }
        .profile
        {
            grid-area: profile;
            height: 80px;
            width: 80px;
            margin-top: 10%;
            margin-right: 15%;
		}
		.details
		{
			font-size: 1.5vmax;
			margin-top: 10px;
			background: transparent;
			color: white;
		}
		.profile_heading
		{
			font-size: 2vmax;
			margin-top: 5px;
			text-align: center;
			color: #a39de0;
			background: transparent;
		}
		.sub_headings
		{
			text-align: left;
			background: transparent;
			margin-top: 20%;
			margin-left: 10%;
			font-size: 20px
		}
		@media screen and (min-width: 736px)
		{
			.landing
			{
				display: grid;
				margin: 0.5%;
				height: 95%;
				grid-template-columns: 15% 1fr 1fr 1fr 15%;
				grid-template-rows: 5.5% 1fr 5.5%;
				grid-template-areas: 
				"header header header header header"
				". content content sidebar ."
				"footer footer footer footer footer";
				padding: 0.5%;
			}
		}